block vars
include ./header.jade 


  include ./nav.jade 

  section.nav__lateral__contenido
    header.titulo.h2.wrapper #{name}
    section.contenido
      block content
  

  include ./script.jade 