footer.contacto
  .contenedor-full
    a(href="https://www.facebook.com/hector.galindo.3551", target="_blank")
      span.icon-facebook
      |hector.galindo.3551
    a(href="tel:+56942824453", target="_blank")
      span.icon-whatsapp
      |+56 9 4282 4453
    a(href="mailto:Hgalindo506@gmail.com", target="_blank")
      span.icon-mail
      |galindo506@gmail.com