- var links = ['base','grid','icons','buttons'];

.nav.nav__full
  span(onclick="nav.full()").nav__icon.icon-navicon
  nav(onclick="nav.full()").nav__full--barra.wrapper
    ul
      li: a(href="#", onclick="nav.full()") HOME