script(src="./js/lib/jquery/dist/jquery.min.js")
script(src="./js/lib/superslides/dist/jquery.superslides.min.js")
script(src="./js/lib/bxslider-4/dist/jquery.bxslider.min.js")
script(src="./js/main.min.js")