extends ./common/base.jade

block vars
  - var name = 'form'
  - var title = 'Mi estilo - '+ name

block content
  .muestra
    .row 
      .c100-s
        ul.tabs
          li.tab: a(href="#tabform1") Jade
          li.tab: a(href="#tabform2") Html
          li.tab: a(href="#tabform3") JS
      .c100-s.tab__conte
        #tabform1
          pre.tab__codigo
              | form(action="").form
        #tabform2
          pre.tab__codigo
              | &lt;form action="" class="form">
              | &lt;/form>
        #tabform3
          pre.tab__codigo 
              | function form(){
              |   // INPUT
              |   var elementos = 'input[type=text], input[type=password], input[type=email], input[type=url], input[type=tel], input[type=number], input[type=search], textarea, select';
              |   $(document).on('focus',elementos, function () {
              |     $(this).siblings('label').addClass('label--active');
              |   });
              |   $(document).on('blur',elementos, function () {
              |     if($(this).val().length === 0){
              |       $(this).siblings('label').removeClass('label--active');
              |       $(this).removeClass('input--success'); // se puede quitar
              |     }else{
              |       $(this).addClass('input--success'); // se puede quitar
              |     }
              |   });
              |   // INPUT:FILE
              |   $(document).on('change', 'input[type="file"]', function () {
              |     var path_input = $('.file_input');
              |     var files      = $(this)[0].files;
              |     var file_names = [];
              |     for (var i = 0; i < files.length; i++) {
              |       file_names.push(files[i].name);
              |     }
              |     path_input.val(file_names.join(" || "));
              |     path_input.trigger('change');

              |     if(path_input.val()){
              |       path_input.addClass('input--success');
              |     }else{
              |       path_input.removeClass('input--success');
              |     }
              |   });
              | }
    .conte-form
      form(action="").form

        .c100-s.h5.destacado INPUT  
        .c100-s
          input(type="text", autocomplete="off")#nombre
          label(for="nombre").form__label Nombre
        .c100-s.h5.destacado TEXTAREA
        .c100-s
          textarea#comentario(name="")
          label(for="comentario").form__label Nombre
        
      .row 
        .c100-s
          ul.tabs
            li.tab: a(href="#input1") Jade
            li.tab: a(href="#input2") Html
        .c100-s.tab__conte
          #input1
            pre.tab__codigo
                | .c100-s
                |   input(type="text", autocomplete="off")#nombre
                |   label(for="nombre").form__label Nombre

                | .c100-s
                |   textarea#comentario(name="")
                |   label(for="comentario").form__label Nombre
          #input2
            pre.tab__codigo
                | &lt;div class="c100-s">
                |   &lt;input type="text" autocomplete="off" id="nombre">
                |   &lt;label for="nombre" class="form__label">Nombre&lt;/label>
                | &lt;/div>

                | &lt;div class="c100-s">
                |   &lt;textarea id="comentario" name="">&lt;/textarea>
                |   &lt;label for="comentario" class="form__label">Nombre&lt;/label>
                | &lt;/div>
    .conte-form
      form(action="").form
        .c100-s.h5.destacado SELECT
        .c100-s.form__select
          label(for="seleccion").form__label Elija figura
          select(name="figuras")#seleccion
            option 
            option(value="circulo") circulo
            option(value="cuadrado") cuadrado
            option(value="triangulo") triangulo
      .row 
        .c100-s
          ul.tabs
            li.tab: a(href="#select1") Jade
            li.tab: a(href="#select2") Html
        .c100-s.tab__conte
          #select1
            pre.tab__codigo
                | .c100-s.form__select
                |   label(for="seleccion").form__label Elija figura
                |   select(name="figuras")#seleccion
                |     option 
                |     option(value="circulo") circulo
                |     option(value="cuadrado") cuadrado
                |     option(value="triangulo") triangulo
          #select2
            pre.tab__codigo
                | &lt;div class="c100-s form__select">
                |   &lt;label for="seleccion" class="form__label">Elija figura&lt;/label>
                |   &lt;select name="figuras" id="seleccion">
                |     &lt;option> &lt;/option>
                |     &lt;option value="circulo">circulo&lt;/option>
                |     &lt;option value="cuadrado">cuadrado&lt;/option>
                |     &lt;option value="triangulo">triangulo&lt;/option>
                |   &lt;/select>
                | &lt;/div>
    .conte-form
      form(action="").form
        .c100-s.h5.destacado RADIO
        .c100-s
          div
            input(type="radio", name="color", value="rojo")#rojo
            label(for="rojo") rojo
            input(type="radio", name="color", value="azul")#azul
            label(for="azul") azul
            input(type="radio", name="color", value="verde")#verde
            label(for="verde") verde
        .c100-s.h5.destacado CHECKBOX
        .c100-s
          div
            input(type="checkbox", name="transporte", value="bicicleta")#bicicleta
            label(for="bicicleta") bicicleta
            input(type="checkbox", name="transporte", value="skate")#skate
            label(for="skate") skate
            input(type="checkbox", name="transporte", value="patines")#patines
            label(for="patines") patines 
      .row 
        .c100-s
          ul.tabs
            li.tab: a(href="#radio1") Jade 
            li.tab: a(href="#radio2") Html
        .c100-s.tab__conte
          #radio1
            pre.tab__codigo
                | .c100-s
                |   div
                |     input(type="radio", name="color", value="rojo")#rojo
                |     label(for="rojo") rojo
                |     input(type="radio", name="color", value="azul")#azul
                |     label(for="azul") azul
                |     input(type="radio", name="color", value="verde")#verde
                |     label(for="verde") verde
                
                | .c100-s
                |   div
                |     input(type="checkbox", name="transporte", value="bicicleta")#bicicleta
                |     label(for="bicicleta") bicicleta
                |     input(type="checkbox", name="transporte", value="skate")#skate
                |     label(for="skate") skate
                |     input(type="checkbox", name="transporte", value="patines")#patines
                |     label(for="patines") patines 
          #radio2
            pre.tab__codigo
                | &lt;div class="c100-s">
                |   &lt;div>
                |     &lt;input type="radio" name="color" value="rojo" id="rojo">
                |     &lt;label for="rojo">rojo&lt;/label>
                |     &lt;input type="radio" name="color" value="azul" id="azul">
                |     &lt;label for="azul">azul&lt;/label>
                |     &lt;input type="radio" name="color" value="verde" id="verde">
                |     &lt;label for="verde">verde&lt;/label>
                |   &lt;/div>
                | &lt;/div>

                | &lt;div class="c100-s">
                |   &lt;div>
                |     &lt;input type="checkbox" name="transporte" value="bicicleta" id="bicicleta">
                |     &lt;label for="bicicleta">bicicleta&lt;/label>
                |     &lt;input type="checkbox" name="transporte" value="skate" id="skate">
                |     &lt;label for="skate">skate&lt;/label>
                |     &lt;input type="checkbox" name="transporte" value="patines" id="patines">
                |     &lt;label for="patines">patines &lt;/label>
                |   &lt;/div>
                | &lt;/div>
    .conte-form
      form(action="").form
        .c100-s.h5.destacado FILE
        .c100-s
          div.form__file
            input(type="file",multiple="multiple")
            span.btn FILE
            input(type="text", placeholder="Seleccione archivos").file_input

      .row 
        .c100-s
          ul.tabs
            li.tab: a(href="#file1") Jade
            li.tab: a(href="#file2") Html
        .c100-s.tab__conte
          #file1
            pre.tab__codigo
                | .c100-s
                |   div.form__file
                |     input(type="file",multiple="multiple")
                |     span.btn FILE
                |     input(type="text", placeholder="Seleccione archivos").file_input
          #file2
            pre.tab__codigo
                | &lt;div class="c100-s">
                |   &lt;div class="form__file">
                |     &lt;input type="file" multiple="multiple">&lt;span class="btn">FILE&lt;/span>
                |     &lt;input type="text" placeholder="Seleccione archivos" class="file_input">
                |   &lt;/div>
                | &lt;/div>
    form(action="php/form.php").form
      input(type="text")
      input(type="text")
      button.btn Enviar 