extends ./common/base.jade

block vars
  - var name = 'base'
  - var title = 'CHAN'

block content
  header.poster

  section.info
    .contenedor
      .info--biografia
        .info--perfil.modal__conte--oculto: img(src="images/perfil.jpg", alt="")
        p 
          |Estimado pueblo de Barnechea, mi nombre es Hector Galindo, candidato a concejal, soy padre de familia, me desempeño como ejecutivo comercial bancario. 
          br
          |Siempre he recordado mi niñez con mucha nostalgia, una infancia con muchos juegos, deportes, con cerros y ríos para recorrer, un pueblo con identidad en donde salíamos con mi padre a recorrer y era toda una aventura. Hoy en día este Barnechea desaparece, nos dejamos gobernar por personas que no entienden el sentimiento de ver que tu futuro cada día se aleja más de tu querido pueblo. Que no tienen escrúpulos de vender sus tierras, sus paisajes, su deporte, su identidad.
        p.modal__conte--oculto
          |Hoy me levanto con mucha determinación y fuerza para poder recuperar y mantener, los espacios para deporte, terrenos para viviendas, costumbres y raíces de nosotros. No solo me levanto por mis para mis hijos, con el tiempo he conocido gente tanto del movimiento de pobladores por la dignidad y comité nidales, que me han hecho creer que no solo es un deber mío, es un deber de todos nosotros recuperar estos recuerdos y sentimientos.
          br
          br
          |Por eso los invito en estas elecciones municipales a que voten por Barnechea, voten por su gente. Que no nos quiten la identidad y la dignidad
          br
          br
          |Por eso con fuerza digo A VIVIR CON DIGNIDAD !!!!
        .right-txt: button(onclick="modal.conte(this)").btn Más información
      h2.info--frase.h5 "El trabajo social está antes que la política, en esto se trabaja todo el año y no sólo en elección."
  
  section.campana
    .row.contenedor-full

      .c100-s.c50-l.campana--punto 
        .campana--ico: include ../images/deporte.svg
        h3.h3 Deporte
        p.h5  Más de 8 canchas sin profesores y actividades los fines de semana.
        ul.lista.modal__conte--oculto
          li Más deportes en todas las canchas de nuestra comuna.
          li Mejores actividades para niños, jóvenes y adultos.
          li Desarrollar un complejo de alto rendimiento para deportistas destacados, así no tienen que viajar a otras comunas.
          li Apoyar con equipamientos y dinero a jóvenes profesores de diversas disciplinas, para que puedan realizar sus clases, en las diversas canchas de nuestra comuna
          li Mejor infraestructura y mayor número de maquinaria en el gimnasio municipal, para que más personas puedan hacer uso de él.
          li Equipamiento para calistenia en las plazas.
        .center-txt: button(onclick="modal.conte(this)").btn.btn--xs Más información
      
      .c100-s.c50-l.campana--punto 
        .campana--ico: include ../images/salud.svg
        h3.h3 Alimentación
        p.h5  No existe educación de los alimento y grasas buenas y malas.
        ul.lista.modal__conte--oculto
          li Cursos de orientación alimentaria para toda la gente de la comuna. Sobre todo para los que llevan una vida más sedentaria.
          li Las familias deben ver los beneficios de una buena alimentación y todas las enfermedades que se pueden prevenir, tales como: hipertensión, diabetes, cáncer.
          li La municipalidad deber  aportar con cursos y recetas con comida sana y variable.
        .center-txt: button(onclick="modal.conte(this)").btn.btn--xs Más información
      
      .c100-s.c50-l.campana--punto 
        .campana--ico: include ../images/casa.svg
        h3.h3 Viviendas
        p.h5  No existen proyectos habitaciones sociales, ni soluciones para los allegados.
        ul.lista.modal__conte--oculto
          li Más proyecto habitacionales sociales para la gente joven de la comuna, debemos acabar no tan solo con los campamentos, si no que también erradicar el hacinamiento.
          li Mejor fiscalización en la venta de los terrenos municipales.
          li Más ayuda a comités de vivienda, dar soluciones reales y no que la solución se cambiar de comuna.
        .center-txt: button(onclick="modal.conte(this)").btn.btn--xs Más información
      
      .c100-s.c50-l.campana--punto 
        .campana--ico: include ../images/educacion.svg
        h3.h3 Educación
        p.h5  Muchos vecinos sin sus estudios escolares completos.
        p.modal__conte--oculto
          |La municipalidad debe actuar de manera más activa en la nivelación dela enseñanza básica y media, para todos los vecinos que no han terminado su colegiatura, debemos apoyar proyectos como la Universidad Popular Cura Jimmy de manera constante.
        .center-txt: button(onclick="modal.conte(this)").btn.btn--xs Más información

  section.modal.modal__conte
    .wrapper
      .btn--cerrar.icon-close(onclick="modal.close()") 
      article.modal__article
        .modal--contenido



  include common/footer.jade 