.poster{
  background: url('#{$image-dir}/poster-mobile.jpg') no-repeat center;
  background-size: cover;
  height: 20rem;
  width: 100vw;
}

.info{
  background-color: white;
  padding: 0 1rem;
  position: relative;
  @include triangulo_big_after(white);
  &--perfil{
    border: solid .5rem white;
    max-width: 20rem;
    position: relative;
    margin: 0 auto 1rem;
  }

  &--biografia{
    background-color: white;
    box-shadow: $shadow;
    left: 0;
    padding: 2rem;
    position: relative;
    top: -1rem;
  }
  &--frase{
    font-style: italic;
    margin-bottom: 0;
    padding-bottom: 3rem;
    padding-top: 2rem;
    text-align: center;
  }
  
}

.campana{
  background-color: #CC4815;
  color: white;
  padding: 8rem 0 3rem;
  text-align: center;
  position: relative;
  @include triangulo_big_after(#CC4815);
  &--punto{
    padding: 2rem 1rem;
    h3{
      color: white;
      font-weight: lighter;
    }
    &:hover svg{
      animation: pulse .5s;
    }
  }
  

  &--ico{
    margin-bottom: .5rem;
    transform-origin: center;
    svg{
      fill: white;
      height: 5rem;
    }
  } 

}
.contacto{
  background-color: darken($color-base, 15%);
  padding: 8rem 0 3rem;
  &>div{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
  }
  a{
    align-items: center;
    color: white;
    display: flex;
    font-size: 1rem;
    font-weight: lighter;
    &:hover span{
      transform: scale(1.2,1.2); 
      text-shadow: $shadow-hover;
    }
  }
  span{
    color: white;
    font-size: 3rem;
    transition: $animation;
    margin-right: 1rem;
  }
  
}
@include respond-to(m){
  .contacto{
    &>div{
      flex-direction: row;
    }
    a{
      flex-direction: column;
    }
    span{
      margin-right: 0;
    }
    
  }
}
@include respond-to(l){
  .poster{
    background: url('#{$image-dir}/poster.jpg') no-repeat center;
    background-size: cover;
    height: 80vh;
    width: 100vw;
  }
  .info{
    padding: 0 1rem;
    &--biografia{
      padding: 2rem;
      top: -5rem;
    }
    &--frase{
      padding-bottom: 4rem;
      padding-top: 1rem;
      text-align: center;
    }
    
  }
  .campana{
    padding: 13rem 0 7rem;
    &--ico{
      margin-bottom: .5rem;
      svg{
        height: 10rem;
      }
    } 
    &--punto{

    }
  }

  .contacto{
    &>div{
      flex-direction: row;
    }
    span{
      font-size: 4rem;
    }
    
  }
}

@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}